html {
    overflow: auto;
}

body {
    min-width: 1500px;
    overflow-x: hidden;
    position: relative;
}

* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    background: #8bbae4;
}

.header {
    width: 100%;
    background-color: #052e52;
    overflow: hidden;
    #icon {
        float: left;
        background-color: #052e52;
    }
    #title {
        float: left;
        height: 90px;
        font-size: 86px;
        color: #ffffff;
        margin-left: 35px;
        margin-top: 10px;
        background-color: #052e52;
    }
    #log {
        float: left;
        color: #ffffff;
        font-size: 32px;
        margin-left: 400px;
        margin-top: 70px;
        background-color: #052e52;
    }
    #register {
        float: left;
        color: #ffffff;
        font-size: 32px;
        margin-left: 120px;
        margin-top: 70px;
        background-color: #052e52;
    }
}

.content {
    clear: left;
    height: 800px;
    min-height: 100%;
    background-color: #8bbae4;
    p {
        font-size: 26px;
        background-color: #04457e;
        color: #fff;
    }
    .date {
        padding: 10px;
        padding-left: 30px;
        background-color: #3d93e4;
        color: #000;
        font-size: 30px;
    }
    .name {
        padding-left: 30px;
        padding-bottom: 18px;
        background-color: #71acdf;
        color: #000000;
        font-size: 36px;
        word-break: break-all;
    }
    .text {
        padding-left: 30px;
        background-color: #8bbae4;
        color: #000000;
        font-size: 36px;
        word-break: break-all;
    }
}